body {
  width: 100%;
}

header {
  text-align: center;
}

main {
  text-align: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 1rem;
}

img {
  width: 400px;
}

input {
  padding: 0.4rem;
}
